@-webkit-keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@-moz-keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@-ms-keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@-o-keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
