@import url(http://fonts.googleapis.com/css?family=Sanchez&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700&subset=latin,latin-ext);
@-webkit-keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@-moz-keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@-ms-keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@-o-keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@keyframes lb-footer {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: left bottom;
  }
}
@-webkit-keyframes liked {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
  }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes liked {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
  }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes liked {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
  }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes liked {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
  }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes liked {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
  }
  60% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.gradient {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(left, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  background: -o-linear-gradient(left, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  background: -ms-linear-gradient(left, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(to right, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#33ffffff', GradientType=1);
}
html,
body {
  height: auto;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url('../images/bg.gif');
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
/* layout */
a:hover {
  text-decoration: none;
  color: inherit;
}
.left {
  float: left;
  display: inline-block;
}
.right {
  float: right;
  display: inline-block;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clear {
  display: inline-block;
  clear: both;
  width: 100%;
}
.custom-line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: relative;
  margin: 20px 0;
}
.custom-line:after,
.custom-line:before {
  position: absolute;
  content: '';
  width: 59px;
  height: 5px;
  background: url('../images/sprite.png') 0 -202px;
  left: 5%;
  top: -2px;
  display: inline-block;
}
.custom-line:before {
  right: 5%;
  left: auto;
}
.or-line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 30px 0;
}
.or-line:after {
  content: 'ya da';
  display: inline-block;
  padding: 0 15px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: -6px;
  margin-left: -30px;
  color: #aaa;
  font: italic bold 11px Georgia, Arial;
}
.mt30 {
  margin-top: 30px;
}
.w100 {
  width: 100%;
}
.vertical-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.text-center {
  text-align: center;
}
/* layout #end */
/* buttons */
.button {
  display: inline-block;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 10px 15px 3px 15px;
  height: 36px;
  color: rgba(0, 0, 0, 0.5);
  font: 700 16px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -ms-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
}
.button.green {
  background: url('../images/button-sprite.png') 0 -29px;
}
.button.blue {
  background: url('../images/button-sprite.png') 0 -70px;
}
.button.sm {
  font: 700 12px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  height: 27px;
  padding: 7px 15px 0 15px;
}
.button.sm.green {
  background: url('../images/button-sprite.png') 0 1px;
}
.button.r {
  border-radius: 50px;
}
.button.r.sm {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}
.button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button:active.green {
  background: url('../images/button-sprite.png') 0 -29px !important;
}
.button:active.sm.green {
  background: url('../images/button-sprite.png') 0 -152px !important;
}
input.button,
button.button {
  padding-top: 5px;
}
input.button.sm,
button.button.sm {
  padding-top: 2px;
}
/* buttons #end */
input[type=text],
input[type=email],
input[type=password],
textarea {
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font: normal 13px 'Helvetica Neue', Arial;
  color: #68a5c7;
  outline: none;
  margin: 0 0 10px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  box-shadow: 0 0 0 1px rgba(99, 161, 196, 0.65), inset 0 1px 3px rgba(99, 161, 196, 0.5);
}
input[type=email] {
  padding-left: 35px;
  background: url('../images/sprite.png') 10px -245px;
}
input[type=password] {
  padding-left: 35px;
  background: url('../images/sprite.png') 10px -288px;
}
h1 {
  font: 30px 'Sanchez', 'Helvetica Neue', Arial;
  color: #fff;
  margin: 0;
  padding: 0;
}
h1 > a {
  text-decoration: none;
  color: #333 !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: inline-block;
  height: 70px;
  padding: 15px 0 0 0;
}
h1 > a:hover {
  text-decoration: none;
  color: #fff;
}
h1 span {
  font: 700 30px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  color: #333;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7);
  padding: 15px 0 0 45px;
  height: 70px;
  margin: 0 0 0 10px;
  display: inline-block;
  background: url('../images/logo.png') no-repeat 0 0;
}
h1 span a {
  color: #333;
}
h2 {
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  font: 700 26px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  color: #333;
}
p {
  font: normal 13px 'Helvetica Neue', Arial;
  line-height: 22px;
}
.footer {
  padding: 30px 0;
  border-top: 1px solid #eee;
  margin: 30px 0 0 0;
  text-align: center;
  font: 700 13px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  color: #333;
}
.dedikod-area {
  margin: 30px auto 0 auto;
  width: 960px;
  font: 700 13px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  color: #aaa;
}
.dedikod-area .dedikod-attachment-infos {
  display: none;
}
.dedikod-area .textarea-container {
  margin-bottom: -5px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 1;
  height: 80px;
}
.dedikod-area .textarea-container textarea {
  width: 100%;
  height: 80px;
  resize: none;
  color: #333;
  background-color: transparent;
}
.dedikod-area .textarea-container textarea:focus {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.dedikod-area .textarea-container .attachment {
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  width: 55px;
  height: 55px;
  display: none;
}
.dedikod-area .textarea-container .attachment img {
  width: 100%;
}
.dedikod-area .textarea-container.added:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 30px;
  width: 28px;
  height: 37px;
  background: url('../images/sprite.png') -95px -471px;
  opacity: 0.5;
}
.dedikod-area .textarea-container.added textarea {
  padding: 10px 10px 10px 75px;
  -webkit-transition: 0.5s background ease-in-out;
  -moz-transition: 0.5s background ease-in-out;
  -ms-transition: 0.5s background ease-in-out;
  -o-transition: 0.5s background ease-in-out;
  transition: 0.5s background ease-in-out;
}
.dedikod-area .textarea-container.added .attachment {
  display: inline-block;
}
.dedikod-area .bottom-bar {
  height: 40px;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 2;
}
.dedikod-area .bottom-bar span {
  padding: 7px;
  display: inline-block;
  height: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  float: left;
}
.dedikod-area .bottom-bar span.send {
  border: none;
}
.dedikod-area .bottom-bar span.bar-button {
  padding: 14px 20px;
  cursor: pointer;
  position: relative;
}
.dedikod-area .bottom-bar span.bar-button:hover,
.dedikod-area .bottom-bar span.bar-button.selected {
  color: #333;
  background-color: #eee !important;
}
.dedikod-area .bottom-bar span.bar-button:first-child {
  border-left: none;
  border-radius: 0 0 0 5px;
}
.dedikod-area .bottom-bar span.bar-button.event {
  background: url('../images/sprite.png') no-repeat -184px -469px;
  padding-left: 40px;
}
.dedikod-area .bottom-bar span.bar-button.media {
  background: url('../images/sprite.png') no-repeat -435px -469px;
  padding-left: 40px;
}
.dedikod-area .bottom-bar span.bar-button.male,
.dedikod-area .bottom-bar span.bar-button.female {
  background: url('../images/sprite.png') no-repeat;
}
.dedikod-area .bottom-bar span.bar-button.male {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-position: 11px -36px;
}
.dedikod-area .bottom-bar span.bar-button.female {
  background-position: 11px 12px;
}
.select-box {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 -4px 10px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  cursor: pointer;
  font: bold 13px 'Helvetica Neue', Arial;
  border-radius: 2px;
  padding-right: 30px;
  position: relative;
  display: inline-block;
  height: 30px;
}
.select-box:after {
  position: absolute;
  right: 11px;
  top: 13px;
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-top: 5px solid #ea5c49;
}
.select-box .text {
  padding: 6px 14px 8px 14px;
  display: inline-block;
  border-right: 1px solid #ddd;
  min-width: 100px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.select-box ul {
  display: none;
  position: absolute;
  z-index: 11;
  top: 40px;
  left: 0;
  margin: 0;
  padding: 10px 0;
  min-width: 100%;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.select-box ul:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  position: absolute;
  left: 50%;
  top: -14px;
  margin-left: -7px;
}
.select-box ul li {
  color: #333;
  white-space: nowrap;
}
.select-box ul li:hover {
  background: url('../images/button-sprite.png') 0 -30px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.select-box ul li:hover a {
  color: #fff;
}
.select-box ul li a {
  padding: 7px 10px;
  text-decoration: none;
  color: inherit;
  display: block;
}
/*********************************/
.header {
  background: url('../images/unis/beykent.png') center top no-repeat;
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
}
.header .logo {
  width: 500px;
  margin: 30px auto 0 auto;
  text-align: center;
}
.blank-page {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: relative;
}
.blank-page.box {
  width: 500px;
  margin: 0 auto;
}
.blank-page:after {
  content: '';
  display: inline-block;
  height: 2px;
  background: url('../images/sprite.png') 0 -538px repeat-x;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.container {
  width: 960px;
  margin: 30px auto;
  position: relative;
  padding: 0;
}
.container .left-container {
  width: 685px;
  display: inline-block;
}
.container .left-container .session-message {
  padding: 10px 20px;
  font: 700 12px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 250px;
  left: 20px;
  bottom: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #f4c6c0;
}
.container .left-container .special-list-title {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  font: 400 17px 'Quattrocento Sans', 'Helvetica Neue', Arial;
}
.container .left-container .special-list-title > span {
  display: inline-block;
  float: left;
  padding: 7px 0 0 0;
}
.container .left-container .special-list-title > span a {
  font-weight: 700;
  color: #333;
}
.container .left-container .special-list-title .select-box {
  margin: 0 10px;
  float: left;
}
.container .left-container .filter-bar {
  width: 630px;
  margin: 0 0 20px 55px;
  display: inline-block;
  position: relative;
}
.container .left-container .filter-bar:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #ccc;
  border-radius: 10px;
  position: absolute;
  left: -40px;
  z-index: 10;
  top: 12px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 5px 3px rgba(0, 0, 0, 0.2);
}
.container .left-container .dedikods {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 630px;
  margin-left: 55px;
  position: relative;
}
.container .left-container .dedikods:after {
  width: 3px;
  display: inline-block;
  background: #eee;
  content: '';
  height: 100%;
  position: absolute;
  left: -38px;
  top: -42px;
}
.container .left-container .dedikods .dedikod {
  padding: 20px 25px 0 25px;
  position: relative;
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid #f3f3f3;
  font: 400 15px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  line-height: 0;
}
.container .left-container .dedikods .dedikod:last-child {
  border-bottom: none;
}
.container .left-container .dedikods .dedikod:last-child .comments:before {
  display: none !important;
}
.container .left-container .dedikods .dedikod .comments {
  padding: 20px 25px;
  position: relative;
  margin-left: -25px;
  margin-right: -25px;
  display: none;
  font: normal 12px 'Helvetica Neue', Arial;
  color: #444;
}
.container .left-container .dedikods .dedikod .comments:after,
.container .left-container .dedikods .dedikod .comments:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  background: url('../images/sprite.png');
}
.container .left-container .dedikods .dedikod .comments:after {
  background-position: 0 -219px;
}
.container .left-container .dedikods .dedikod .comments:before {
  background-position: 0 -229px;
  top: auto;
  bottom: 0;
}
.container .left-container .dedikods .dedikod .comments.opened {
  display: block;
}
.container .left-container .dedikods .dedikod .comments .no-comment {
  text-align: center;
  font: italic 12px 'Helvetica Neue', Arial;
  color: rgba(0, 0, 0, 0.2);
  padding: 20px 0 10px 0;
}
.container .left-container .dedikods .dedikod .comments .write-comment,
.container .left-container .dedikods .dedikod .comments .comment {
  margin-bottom: 15px;
  line-height: 18px;
}
.container .left-container .dedikods .dedikod .comments .comment {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 15px;
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px;
}
.container .left-container .dedikods .dedikod .comments .avatar {
  float: left;
  display: inline-block;
  width: 35px;
  height: 35px;
  position: inherit;
}
.container .left-container .dedikods .dedikod .comments .write-area {
  margin-left: 47px;
}
.container .left-container .dedikods .dedikod .comments .write-area > a {
  font-weight: bold;
  color: #000;
}
.container .left-container .dedikods .dedikod .comments .write-area input {
  width: 100%;
  margin-bottom: 0;
  font: normal 12px 'Helvetica Neue', Arial;
}
.container .left-container .dedikods .dedikod .comments .write-area .username {
  background: none;
}
.container .left-container .dedikods .dedikod .comments .write-area .username b {
  color: #000 !important;
  cursor: not-allowed;
}
.container .left-container .dedikods .dedikod .comments .write-area .username.female a {
  color: #e881a2;
}
.container .left-container .dedikods .dedikod .comments .write-area .username.male a {
  color: #73c3d5;
}
.container .left-container .dedikods .dedikod .comments .write-area .username a {
  text-decoration: none;
  font-weight: bold;
}
.container .left-container .dedikods .dedikod .comments .write-area .username a:hover {
  text-decoration: underline;
}
.container .left-container .dedikods .dedikod .comments .write-area .date {
  font: bold 11px 'Helvetica Neue', Arial;
  color: #aaa;
  margin-top: 4px;
}
.container .left-container .dedikods .dedikod.open {
  border-bottom: none;
}
.container .left-container .dedikods .dedikod.open .toolbar .button {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.container .left-container .dedikods .dedikod.open .toolbar .button.sm.green {
  background: url('../images/button-sprite.png') 0 -152px !important;
}
.container .left-container .dedikods .dedikod .avatar {
  position: absolute;
  left: -55px;
  z-index: 9;
  top: 13px;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.container .left-container .dedikods .dedikod .avatar img {
  width: 100%;
}
.container .left-container .dedikods .dedikod .content {
  font: 400 15px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  line-height: 23px;
}
.container .left-container .dedikods .dedikod.female .username {
  background: url('../images/sprite.png') no-repeat 0 6px;
}
.container .left-container .dedikods .dedikod.female .username:hover {
  color: #e881a2;
}
.container .left-container .dedikods .dedikod.female .comments {
  background-color: #f7e9ee;
}
.container .left-container .dedikods .dedikod.male .username {
  background: url('../images/sprite.png') no-repeat 0 -42px;
}
.container .left-container .dedikods .dedikod.male .username:hover {
  color: #73c3d5;
}
.container .left-container .dedikods .dedikod.male .comments {
  background-color: #e6eff1;
}
.container .left-container .dedikods .dedikod .toolbar {
  display: inline-block;
  width: 100%;
  height: 27px;
  margin: 10px 0 20px 0;
}
.container .left-container .dedikods .dedikod .toolbar .left {
  width: 60%;
}
.container .left-container .dedikods .dedikod .toolbar .left span,
.container .left-container .dedikods .dedikod .toolbar .left a {
  float: left;
  margin-right: 20px;
}
.container .left-container .dedikods .dedikod .toolbar .right {
  width: 40%;
  text-align: right;
}
.container .left-container .dedikods .dedikod .toolbar .right span,
.container .left-container .dedikods .dedikod .toolbar .right a {
  float: right;
  margin-left: 20px;
}
.container .left-container .dedikods .dedikod .toolbar span,
.container .left-container .dedikods .dedikod .toolbar a {
  height: 27px;
  display: inline-block;
}
.container .left-container .dedikods .dedikod .toolbar .username {
  font: 700 18px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  padding: 5px 0 0 28px;
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container .left-container .dedikods .dedikod .toolbar .date {
  font: 400 13px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  color: #aaa;
  position: relative;
  padding: 8px 0 0 0;
}
.container .left-container .dedikods .dedikod .toolbar .date a {
  color: #aaa;
}
.container .left-container .dedikods .dedikod .toolbar .date a:hover {
  text-decoration: underline;
}
.container .left-container .dedikods .dedikod .toolbar .date:before {
  position: absolute;
  left: -13px;
  top: 1px;
  content: '·';
  color: #aaa;
  font-size: 24px;
}
.container .left-container .dedikods .dedikod .toolbar .like,
.container .left-container .dedikods .dedikod .toolbar .comment {
  padding: 4px 0 0 25px;
  background: url('../images/sprite.png') 0 -96px;
  font: 700 18px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  cursor: pointer;
}
.container .left-container .dedikods .dedikod .toolbar .like.selected,
.container .left-container .dedikods .dedikod .toolbar .comment.selected {
  background: url('../images/sprite.png') -61px -96px;
}
.container .left-container .dedikods .dedikod .toolbar .like.liked,
.container .left-container .dedikods .dedikod .toolbar .comment.liked {
  -webkit-animation: liked 0.7s 1 linear;
  -moz-animation: liked 0.7s 1 linear;
  -ms-animation: liked 0.7s 1 linear;
  -o-animation: liked 0.7s 1 linear;
  animation: liked 0.7s 1 linear;
  animation-delay-time: 0.01s;
}
.container .left-container .dedikods .dedikod .toolbar .like.loading,
.container .left-container .dedikods .dedikod .toolbar .comment.loading {
  background: url('../images/loading.gif') 0 5px no-repeat !important;
}
.container .left-container .dedikods .dedikod .toolbar .comment {
  background-position: 0 -146px;
}
.container .right-panel {
  width: 240px;
  display: inline-block;
  float: right;
}
.container .right-panel .menu-box {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 20px 0 15px 0;
  background: #fff;
}
.container .right-panel .menu-box .search {
  margin: 0 20px 20px 20px;
}
.container .right-panel .menu-box .search input {
  width: 100%;
  border-radius: 40px;
  background: url('../images/sprite.png') 12px -371px no-repeat;
  padding-left: 35px;
}
.container .right-panel .menu-box ul.menu {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  list-style: none;
}
.container .right-panel .menu-box ul.menu li {
  font: 700 15px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  color: #aaa;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}
.container .right-panel .menu-box ul.menu li:first-child {
  box-shadow: none;
}
.container .right-panel .menu-box ul.menu li:hover {
  background: url('../images/button-sprite.png') 0 -111px;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.container .right-panel .menu-box ul.menu li:hover a {
  color: #908261;
}
.container .right-panel .menu-box ul.menu li a {
  color: #888;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
/* user box */
.user-box {
  padding: 20px 0 15px 0;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #fff;
  width: 240px;
  display: inline-block;
  position: relative;
}
.user-box .logout-button {
  position: absolute;
  right: 15px;
  top: 15px;
}
.user-box .logout-button a {
  z-index: 91;
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 20px;
  background: url('../images/sprite.png') 7px -415px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.user-box .membership {
  padding: 0 20px;
}
.user-box .membership input[type=text],
.user-box .membership input[type=email],
.user-box .membership input[type=password] {
  width: 100%;
}
.user-box .membership button {
  position: relative;
}
.user-box .membership button:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 12px;
  margin-left: -6px;
  background: url('../images/sprite.png') 0 -344px;
}
.user-box.male {
  background: url('../images/male-bg.png') center top no-repeat #ffffff;
}
.user-box.female {
  background: url('../images/female-bg.png') center top no-repeat #ffffff;
}
.user-box.guest {
  background: url('../images/guest-bg.png') center top no-repeat #ffffff;
}
.user-box .avatar {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.user-box .avatar:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4), inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}
.user-box .avatar img {
  width: 100%;
}
.user-box .username {
  font: 700 19px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  color: #333;
  margin: 20px 0 0 0;
}
.user-box .username span {
  display: inline-block;
  max-width: 165px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user-box .username a {
  color: #aaa;
  font: normal 11px 'Helvetica Neue', Arial;
}
.user-box .school {
  font: normal 11px 'Helvetica Neue', Arial;
  display: block;
  margin-top: 3px;
}
.user-box .numbers {
  font: 700 22px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  display: inline-block;
  width: 100%;
}
.user-box .numbers a {
  text-decoration: none;
  color: inherit;
}
.user-box .numbers small {
  font-size: 10px;
  display: block;
  color: #aaa;
}
/* user box #end */
/* form */
.form {
  display: inline-block;
  width: 100%;
  padding: 40px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #eee;
  font: bold 13px 'Helvetica Neue', Arial;
}
.form .row {
  margin-bottom: 20px;
}
.form .title {
  padding-top: 10px;
}
.form input[type=text],
.form input[type=email],
.form input[type=password] {
  margin-bottom: 0;
  width: 300px;
}
.form .error {
  font: bold 11px 'Helvetica Neue', Arial;
  color: rgba(255, 0, 0, 0.3);
  display: block;
  margin-top: 4px;
}
/* form #end */
/* add event */
.content > a {
  color: #468966 !important;
  font-size: 12px;
  font-weight: 700;
  background-color: #ccf3df;
  border-radius: 3px;
  padding: 3px 6px;
  color: #fff;
  top: -1px;
  position: relative;
}
.content .content-ticket {
  width: 580px;
  overflow: hidden;
  padding: 5px;
  height: 311px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content .content-ticket:after,
.content .content-ticket:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 3px;
  border-radius: 3px 0 0 3px;
  background-color: #444;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  z-index: 9;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.content .content-ticket:before {
  z-index: 7;
  left: 2px;
  border-radius: 0 3px 3px 0;
}
.content .content-ticket .add-event-container {
  position: absolute;
  right: 1px;
  z-index: 8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content:hover .content-ticket {
  width: 752px;
}
.content:hover .content-ticket:after,
.content:hover .content-ticket:before {
  opacity: 0;
}
.add-event-container {
  width: 750px;
  margin: 0 auto;
  position: relative;
}
.add-event-container .ticket-effect {
  position: absolute;
  left: 90px;
  top: 15px;
  bottom: 15px;
  right: 0;
  z-index: 20;
  background: url('../images/ticket-sprite.png') -218px top #ffffff repeat-y;
  width: 31px;
}
.add-event-container .ticket-effect:after,
.add-event-container .ticket-effect:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 15px;
  background: url('../images/ticket-sprite.png') -150px 0;
  top: -15px;
  left: 0;
  position: absolute;
}
.add-event-container .ticket-effect:before {
  background-position: -150px -15px;
  bottom: -15px;
  top: auto;
}
.add-event-container .add-event {
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  padding: 25px 25px 25px 15px;
  margin-left: 120px;
  position: relative;
  z-index: 19;
}
.add-event-container .add-event .event-bg-image {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 0 5px 5px 0;
  text-align: right;
  z-index: 2;
}
.add-event-container .add-event .event-bg-image:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(left, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  background: -o-linear-gradient(left, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  background: -ms-linear-gradient(left, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(to right, #ffffff 60%, rgba(255, 255, 255, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#33ffffff', GradientType=1);
  z-index: 1;
}
.add-event-container .add-event .event-bg-image img {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  height: 100%;
  opacity: 0.3;
}
.add-event-container .add-event:after {
  background: url('../images/ticket-sprite.png') 20px center no-repeat #ffffff;
  content: '';
  display: inline-block;
  width: 90px;
  position: absolute;
  left: -120px;
  top: 0;
  height: 100%;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.add-event-container .add-event .details {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 0 15px;
  position: relative;
  z-index: 10;
}
.add-event-container .add-event .details .detail {
  padding: 15px 20px;
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  min-height: 70px;
}
.add-event-container .add-event .details .detail:first-child {
  border-left: none;
}
.add-event-container .add-event .details .detail.pic {
  height: 80px;
  position: relative;
}
.add-event-container .add-event .details .detail.pic .pic-upload {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 2px dashed #bbdcea;
  top: 17px;
  left: 20px;
  overflow: hidden;
  background: url('../images/sprite.png') 12px -463px no-repeat;
  cursor: pointer;
}
.add-event-container .add-event .details .detail.pic .pic-upload input {
  height: 50px;
  opacity: 0;
  cursor: pointer;
}
.add-event-container .add-event .details .detail.pic .pic-upload img {
  max-width: 100%;
  min-height: 100%;
}
.add-event-container .add-event .details .detail.price {
  padding: 26px 0;
  text-align: center;
  font: 700 36px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  height: 92px;
}
.add-event-container .add-event .details .detail.price input {
  padding: 0;
  text-align: center;
  font: 700 36px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  width: 170px;
}
.add-event-container .add-event .details .detail.last-line {
  height: 90px;
}
.add-event-container .add-event .details .detail > span {
  padding-top: 10px;
  font: 400 13px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  display: inline-block;
}
.add-event-container .add-event .details .detail strong {
  font: bold 11px 'Helvetica Neue', Arial;
  display: block;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
.add-event-container .add-event .details .detail input,
.add-event-container .add-event .details .detail textarea {
  box-shadow: none;
  border: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font: 400 13px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  width: 100%;
  resize: none;
  color: #000;
}
.add-event-container .add-event .details .detail textarea {
  width: 100%;
  font-size: 15px;
}
.add-event-container .add-event .details .detail.title > span {
  padding-top: 9px;
}
.add-event-container .add-event .details .detail.title input,
.add-event-container .add-event .details .detail.title > span {
  font-size: 22px;
}
.add-event-container .add-event .details .detail.address span {
  font-size: 15px;
}
.add-event-container .add-event .details .clearfix {
  background-color: rgba(0, 0, 0, 0.05);
  height: 3px;
  margin: 0 -13px;
}
/* add event #end */
/* dedikod attachments */
#addMedia input[type=text] {
  width: 100%;
}
/* dedikod attachments #end */
/* lightbox */
.lightbox-bg {
  -webkit-animation: lb-footer 40s infinite linear;
  -moz-animation: lb-footer 40s infinite linear;
  -ms-animation: lb-footer 40s infinite linear;
  -o-animation: lb-footer 40s infinite linear;
  animation: lb-footer 40s infinite linear;
  background: url('../images/lightbox-footer-bg.png') center bottom no-repeat rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  vertical-align: middle;
  text-align: center;
}
.lightbox-bg .close-button {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -10px;
  cursor: pointer;
  z-index: 91;
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 20px;
  background: url('../images/sprite.png') 7px -415px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.lightbox-bg .close-button:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.lightbox-bg .lightbox-container {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: -85px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.lightbox-bg .lightbox-container.opened {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.lightbox-bg .lightbox-container > h2 {
  margin: 0 0 20px 0;
  padding: 0;
  font: 700 30px 'Quattrocento Sans', 'Helvetica Neue', Arial;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.lightbox-bg .lightbox-container .lightbox-content {
  position: relative;
  font: normal 13px 'Helvetica Neue', Arial;
}
.lightbox-bg .lightbox-container .lightbox-content.alert {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;
}
.lightbox-bg .lightbox-container .lightbox-content.alert img {
  max-height: 75%;
}
/* lightbox #end */
